<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class= "text-center">Liste des restaurants</h1>
      <ul>
        <% @restaurants.each do |restaurant| %>
          <li>
            id:<%= restaurant.id %> -
            <%= restaurant.name %> : <%= restaurant.address %>,
            <%= restaurant.category %>,
            <%= link_to "Voir les détails", restaurant_path(restaurant.id) %>
          </li>
        <% end %>
      </ul>
      <div class="text-center">
        <%= link_to "Add a new restaurant", new_restaurant_path, class:"btn btn-success"  %>
      </div>
    </div>
  </div>
</div>
